## SED
- sed OPTIONS ... [SCRIPT] [INPUTFILE...]
- cat [INPUTFILE] | sed OPTIONS ... [SCRIPT]

### Basic Structure

SCRIPT
- [addr]X[options]
- X is a single-letter sed command
- [addr] can be a single line number, a regular expression, or a range of lines. if [addr] is specified, the command X will be executed only on the matched lines
- Additional [options] are used for some sed commands

Example:

sed '30,35d' input.txt > output.txt

- The following example deletes lines 30 to 35 in the input.
- 30,35 is an address range
- d is the delete command

## Common SED commands
- a: append text after a line.
- d: delete the pattern space.
- i: insert text before a line.
- p: print the pattern space.
- q[exit-code]: (quit) Exit sed without processing any more commands input.
- s/regexp/replacement/[flags]: (substitude) Match the regexp against the content of the pattern space. If found, replace matched string with replacement.

## Common Command-line options for SED
- -n: disable automatic printing; sed only produces output when explicitly told to via the p command.
- -e script: add script.
- -r: use extend regexp rather than basis regexp.

In [1]:
!cat employees.txt

name    age     UNIT
Peter   50      IT
Jane    30      HR
John    25      IT
Andreas 45      HR

In [2]:
!sed -n '/Peter/p' employees.txt # p for print. Without -n option. sed will print the file line by line by default

Peter   50      IT

In [3]:
!sed -n '4p' employees.txt # print the 4th line in the file

John    25      IT

In [4]:
!sed -n '2,4p' employees.txt # print the 2nd to 4th line

Peter   50      IT
Jane    30      HR
John    25      IT

In [5]:
!sed -n '2,$p' employees.txt # print the 2nd to last line. $ is the number of the last line

Peter   50      IT
Jane    30      HR
John    25      IT
Andreas 45      HR

## Append and Prepend

In [6]:
!sed '/\sIT/a appended_text' employees.txt # append text after line that contains pattern "\sIT". (a for append)

name    age     UNIT
Peter   50      IT
appended_text
Jane    30      HR
John    25      IT
appended_text
Andreas 45      HR

In [7]:
!sed '/\sIT/i prepended_text' employees.txt # prepend text before line that contains pattern "\sIT". (a for prepend)

name    age     UNIT
prepended_text
Peter   50      IT
Jane    30      HR
prepended_text
John    25      IT
Andreas 45      HR

In [8]:
!sed '1i Employee List' employees.txt # prepend text before the first line (1 for the first line number, 2 ...)

Employee List
name    age     UNIT
Peter   50      IT
Jane    30      HR
John    25      IT
Andreas 45      HR

## Delete

In [9]:
!sed '/\sIT/d' employees.txt # Delete line that has pattern "\sIT" in it

name    age     UNIT
Jane    30      HR
Andreas 45      HR

## Change

In [10]:
!sed '/\sIT/c Changed_text' employees.txt # Change line that contains the pattern "\sIT" to Changed_text

name    age     UNIT
Changed_text
Jane    30      HR
Changed_text
Andreas 45      HR

## Quit

In [11]:
!sed '/John/q' employees.txt # print until line meets the pattern /John/

name    age     UNIT
Peter   50      IT
Jane    30      HR
John    25      IT

In [12]:
!sed '/John/q2' employees.txt # print until line meets the pattern /John/. 2 is the exit status. echo $? to check the status. If pattern is not found, exis status will be 0

name    age     UNIT
Peter   50      IT
Jane    30      HR
John    25      IT

## -e Option
To run multiple commands

In [13]:
!sed -ne '/John/p' -ne '/John/q2' employees.txt

John    25      IT

In [14]:
!sed -e '/John/a After John' -e '/John/i Before John' employees.txt # Multiple command wil append and prepend

name    age     UNIT
Peter   50      IT
Jane    30      HR
Before John
John    25      IT
After John
Andreas 45      HR

## Override file input

In [15]:
# !sed -ni '/John/p' employees.txt # File employees.txt will then only contain     John    25      IT    (i for overriding input)

## Perform shell commands

In [16]:
!sed '/name/e echo "Date: " $(date)' employees.txt

Date:  Mon 29 Aug 2022 04:43:29 PM +07
name    age     UNIT
Peter   50      IT
Jane    30      HR
John    25      IT
Andreas 45      HR

## Substitute

In [17]:
!echo "one five three" | sed 's/five/two/' # s at the start for substitute

one two three

In [18]:
!echo "one five three 333 505" | sed 's/[[:digit:]]\+/nonono/' # s at the start for substitute, g at the end for replacing globally (not only the first matched word)

one five three nonono 505

In [19]:
!echo "one five three 333 505" | sed 's/[[:digit:]]\+/nonono/g' # s at the start for substitute, g at the end for replacing globally (not only the first matched word)

one five three nonono nonono

In [20]:
!cat employees.txt | sed 's/\sIT/ DATA/'

name    age     UNIT
Peter   50      DATA
Jane    30      HR
John    25      DATA
Andreas 45      HR

In [21]:
!cat employees.txt | sed '4s/\sIT/ DATA/' # Replace patterns only on the forth line

name    age     UNIT
Peter   50      IT
Jane    30      HR
John    25      DATA
Andreas 45      HR

In [22]:
!cat employees.txt | sed '1,3s/\sIT/ DATA/' # Replace patterns only from line 1 to 3

name    age     UNIT
Peter   50      DATA
Jane    30      HR
John    25      IT
Andreas 45      HR

In [23]:
!cat employees.txt | sed 's/[4-9][[:digit:]]/***/' # hide age of people 40 years old or older (Assuming no one is 100 years old or more since the pattern only matches 2 characters)

name    age     UNIT
Peter   ***      IT
Jane    30      HR
John    25      IT
Andreas ***      HR

In [24]:
!cat employees.txt | sed 's/HR/& & &/' # replace matched patterns with multiple of the same patterns (Ampersand(&))

name    age     UNIT
Peter   50      IT
Jane    30      HR HR HR
John    25      IT
Andreas 45      HR HR HR